.outer {
  width: 200px;
  height: 200px;
  background-color: #5f5f5f;
  border-radius: 50%;
  overflow: hidden; /* 자식 요소(inner)가 부모 요소(outer)보다 클 경우에 가려주는 키워드인 overflow: hidden; 적용 */
  display: inline-block;
}

.inner {
  height: 100%;
  background-image: url(../../learning_logs/Gemini_Generated_Image_c524cac524cac524.png);
  background-size: contain;
  background-position: center;
}

.inner_2 {
  height: 100%;
  background-image: url(../../learning_logs/Gemini_Generated_Image_p8so6rp8so6rp8so.png);
  background-size: contain;
  background-position: center;
}

/* span {
  display:inline-block;
} */